<app-body-container color="white" headerPosition="absolute">
  <section class="main" fxLayout="column" fxLayoutAlign="center">
    <section>
      <section class="content bg-cyan-blue">
        <div fxLayout="row wrap" class="inner-wrapper">
          <div fxFlex="10" fxFlex.xs="0"></div>
          <div fxFlex="35" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
              <div>
                <div class="font small">{{translation.byLcnemWallet[lang]}}</div>
                <div class="font copy-write">
                  {{translation.managingWallet[lang]}}
                </div>
                <div class="font copy-write">
                  {{translation.withEaseMore[lang]}}
                </div>
                <div class="font copy-write">
                  {{translation.withConvenienceMore[lang]}}
                </div>
              </div>
              <ul fxLayout="column" fxLayoutGap="10px">
                <li class="feature-list">
                  <mat-icon>done</mat-icon>
                  {{translation.googleLogin[lang]}}
                </li>
                <li class="feature-list">
                  <mat-icon>done</mat-icon>
                  {{translation.cloudManageSecretKey[lang]}}
                </li>
                <li class="feature-list">
                  <mat-icon>done</mat-icon>
                  {{translation.useStableCoin[lang]}}
                </li>
              </ul>
              <div>
                <a class="button rounded" href="https://wallet.lcnem.cc" target="_blank" [ngStyle]="{'color': '#0242BE', 'background-color': '#fff'}">
                  {{translation.useNow[lang]}}
                </a>
              </div>
            </div>
          </div>
          <div fxFlex="55" fxFlex.xs="100" fxLayoutAlign="center">
            <img src="assets/images/billboard.png" class="image banner" />
          </div>
        </div>
      </section>
      <section class="header bg-blue">
        <div class="inner-wrapper">
          <div class="title">
            {{translation.lcnemWalletFeatureItem[lang]}}
          </div>
        </div>
      </section>
      <section class="content bg-white">
        <div class="inner-wrapper">
          <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="30px" fxLayoutAlign="center">
            <div fxFlex="70" fxFlex.xs="30">
              <div fxLayout="row-reverse" fxLayoutGap.xs="25px" fxLayout.xs="column">
                <div fxFlex="60" class="flexbox-container-vertical-center">
                  <h2>{{translation.buyStableCoin[lang]}}</h2>
                  <p>{{translation.buyStableCoinBody[lang]}}</p>
                </div>
                <div fxFlex="40" fxLayoutAlign="center" class="flexbox-container-vertical-center">
                  <img src="assets/images/lcnem.svg" class="image svg" />
                </div>
              </div>
            </div>
            <div fxFlex="30" fxFlex.xs="70">
              <div fxLayout="column" fxLayoutAlign="center">
                <div fxFlex="30" fxFlec.xs="30">
                  <div class="font sub-title">{{translation.aboutStableCoin[lang]}}</div>
                </div>
                <div fxFlex="70" fxFlec.xs="70">
                  <p>{{translation.aboutStableCoinBody[lang]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content bg-skyblue">
        <div class="inner-wrapper">
          <div fxLayout="row-reverse wrap" fxLayout.xs="column" fxLayoutGap.xs="25px" fxLayoutAlign="center">
            <div fxFlex="60" fxFlex.xs="60" class="flexbox-container-vertical-center">
              <div class="lead">{{translation.useMultiWallet[lang]}}</div>
              <div class="lead-body">{{translation.useMultiWalletBody[lang]}}</div>
            </div>
            <div fxFlex="40" fxFlex.xs="40" fxLayoutAlign="center" class="flexbox-container-vertical-center">
              <img src="assets/images/multi.png" class="image svg" />
            </div>
          </div>
        </div>
      </section>
      <section class="content bg-white">
        <div class="inner-wrapper">
          <div fxLayout="row-reverse wrap" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="30px" fxLayoutAlign="center">
            <div fxFlex="60" fxFlex.xs="60" class="flexbox-container-vertical-center">
              <div fxLayout="row" fxLayout="column" fxLayoutAlign="center" fxLayoutGap.xs="20px" fxLayoutWrap>
                <div class="lead">{{translation.secretKey[lang]}}</div>
                <div class="lead-body">{{translation.secretKeyBody[lang]}}</div>
                <div class="table header-top">
                  <table>
                    <tbody>
                      <tr>
                        <td>{{translation.pricePlanIndex[lang]}}</td>
                        <td>Free</td>
                        <td>Standard</td>
                      </tr>
                      <tr>
                        <td>{{translation.priceColumn[lang]}}</td>
                        <td>{{translation.planFree[lang]}}</td>
                        <td>{{translation.priceStandard[lang]}}</td>
                      </tr>
                      <tr>
                        <td>{{translation.secretKeyColumn[lang]}}</td>
                        <td>{{translation.availableOnlyOne[lang]}}</td>
                        <td>{{translation.availableMulti[lang]}}</td>
                      </tr>
                      <tr>
                        <td>{{translation.getCommissionColumn[lang]}}</td>
                        <td>
                          <mat-icon>clear</mat-icon>
                        </td>
                        <td>
                          <mat-icon class="icon red">panorama_fish_eye</mat-icon>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div fxFlex="35" fxFlex.xs="35" fxLayoutAlign="center" class="flexbox-container-vertical-center">
              <img src="assets/images/cloud.png" class="image svg" />
            </div>
          </div>
        </div>
      </section>
      <section class="content bg-skyblue">
        <div class="inner-wrapper">
          <div fxLayout="row-reverse wrap" fxLayout.xs="column" fxLayoutGap.xs="25px" fxLayoutAlign="center">
            <div fxFlex="60" fxFlex.xs="60" class="flexbox-container-vertical-center">
              <div class="lead">{{translation.useAddress[lang]}}</div>
              <p>{{translation.useAddressBody[lang]}}</p>
            </div>
            <div fxFlex="40" fxFlex.xs="40" fxLayoutAlign="center" class="flexbox-container-vertical-center">
              <img src="assets/images/address.png" class="image svg" />
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
</app-body-container>