.button-container {
  margin: 40px 0 100px 0;
  text-align: center;
}
.button {
  text-decoration: none;
  line-height: 1.6;
  font-size: 17px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &.rounded {
    border-radius: 28px;
  }

  @media screen and (max-width: 599px) {
    margin-bottom: 10%;
  }
}

