.table {
  table {
    width: 100%;
  }

  .tag {
    font-weight: bold;
  }

  &.header-left {
    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
    }
    ol {
      padding-left: 16px;
      margin: 0px 0px;
    }
    th {
      width: 25%;
      background-color: #e4f4f2;
      text-align: left;
      font-weight: normal;
    }
    td {
      background-color: #fff;
    }
  }

  &.header-top {
    tr {
      width: 100%;
      &:nth-child(2n) {
        background-color: #eff7fd;
      }
      &:first-child {
        font-weight: bold;
        color: #3e66c0;
      }
    }
    td {
      height: 50px;
      text-align: center;
      font-size: 15px;
      &:first-of-type {
        color: black;
      }
      &:first-child {
        padding-left: 5px;
        text-align: left;
        width: 30%;
      }
    }

    @media screen and (max-width: 599px) {
      td {
        width: 100%;
        &:first-child {
          width: 100%;
        }
      }
    }
  }
}
