<div class="container">
  <h3 [ngSwitch]="'ja'">
    <ng-container *ngSwitchCase="'ja'">木村 優</ng-container>
    <ng-container *ngSwitchDefault>Yu Kimura</ng-container>
  </h3>
  <p>CEO & CTO</p>
  <a href="https://twitter.com/KimuraYu45z" target="_blank"></a>
  <a href="https://facebook.com/KimuraYu45z" target="_blank"></a>
</div>
<div class="container">
  <h3 [ngSwitch]="'ja'">
    <ng-container *ngSwitchCase="'ja'">下島 健</ng-container>
    <ng-container *ngSwitchDefault>Takeru Shimojima</ng-container>
  </h3>
  <p>COO & CFO</p>
  <a href="https://twitter.com/thetalcnem" target="_blank"></a>
  <a href="https://facebook.com/takeru.shimojima" target="_blank"></a>
</div>