<app-section [color]="'mat-primary'">
  <mat-icon style="font-size: 48px;" [inline]="true">info</mat-icon>
  <ng-container *ngIf="lang === 'en'">
    <h3>What is lcnemint?</h3>
    <p>
      lcnemint is an original blockchain of LCNEM, Inc. It is made with Cosmos SDK and adopts to <a
        href="https://cosmos.network" target="_blank">Cosmos network.</a><br />
      We will issue LCNEM Cheque (stable coin) on lcnemint.
    </p>
  </ng-container>
  <ng-container *ngIf="lang === 'ja'">
    <h3>lcnemintとは</h3>
    <p>
      lcnemintは、LCNEM独自のブロックチェーンです。Cosmos SDKで作られており、<a href="https://cosmos.network" target="_blank">Cosmos
        network</a>に対応します。<br />
      lcnemintに、LCNEM Cheque(ステーブルコイン)を発行します。
    </p>
  </ng-container>
</app-section>
<app-section [color]="'black'">
  <mat-icon style="font-size: 48px;" [inline]="true">group</mat-icon>
  <ng-container *ngIf="lang === 'ja'">
    <h3>バリデータについて</h3>
    <p>lcnemintのバリデータはコンソーシアム制（＝許可制）です。バリデータになっていただける法人を募集中です。問い合わせフォームよりお問い合わせください。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
    <h3>Information for Validators</h3>
    <p>Validators of lcnemint are consotiun-style(= our permission is required ). We are searching for companies which can be our validators. Please contact us via the contact form.</p>
  </ng-container>
</app-section>
<app-section>
  <div [fxLayout]="'row'" fxFill>
    <h3>{{translation.contact[lang]}}</h3>
    <span class="fill-remaining-space"></span>
    <div>
      <a mat-flat-button class="mat-radius-button" [color]="'accent'"
        [routerLink]="'/company/contact'">{{translation.contact[lang]}}</a>
    </div>
  </div>
</app-section>