<header fxLayout="column" fxLayoutAlign="center">
  <div>
    <h2>{{translation.recruit[lang]}}</h2>
  </div>
</header>
<section>
  <h3 class="heading">募集職種</h3>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="job" fxFill>
    <div fxFlex="50" fxFlex.xs="100">
      <mat-card>
        <mat-card-content>
          <h4 class="heading">フロントエンドエンジニア</h4>
          <p>経済厚生を高めるフィンテックサービスを一緒に作るフロントエンドエンジニアを募集しています！</p>
          <p>フロントエンドにはAngularを使っていますが、Angularを知らなくてもReactやVueなどのJavaScriptフレームワークに慣れ親しんでいる方なら、入ってからの習得でOKです！</p>
          <p>デザインはマテリアルデザインに準拠しています！</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xs="100">
      <mat-card>
        <mat-card-content>
          <h4 class="heading">インフラエンジニア</h4>
          <p>インフラエンジニアを募集しています！</p>
          <p>Firebase、Google Cloud Platformを使っています。APIの開発保守やブロックチェーンのノード管理、GolangのCosmos
            SDKを使った独自ブロックチェーンの開発に携わることができます！</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<section>
  <h3 class="heading">給与</h3>
  <p>能力に応じて相談させていただきます！</p>
  <h3 class="heading">勤務体系</h3>
  <p>フルコミットできる方を募集しています！</p>
  <h3 class="heading">勤務地</h3>
  <p>京都ではありませんのご注意ください！東京・明大前と、リモートワークを中心に働いています。</p>
  <h3 class="heading">最高開発責任者について</h3>
  <p>執行役員・最高開発責任者(ストックオプションあり)となって長期的にコミットいただける方を募集しています！</p>
</section>

<a mat-raised-button class="mat-radius-button" color="accent" routerLink="/company/contact"
  fxFill>{{translation.contact[lang]}}</a>