<app-body-container headerPosition="normal">
  <div class="inner-wrapper">
    <div class="body-container">
      <h2 class="header without-line">{{translation.recruit[lang]}}</h2>
      募集職種
      * 役員
      必要スキル
      * コーポレートファイナンス
      * マネジメント

      報酬
      * 有償ストックオプション

      * エンジニア
      募集方法
      * 雇用契約
      * 業務委託契約
      * インターン

      必要スキル
      * Git
      * HTML, CSS, JavaScript

      習得するスキル
      * TypeScript
      * Angular
      * Firebase

      報酬
      * 時給2000～3000

      * デザイナー
      募集方法
      * 雇用契約
      * 業務委託契約

      報酬
      * 時給2000～3000

      * マーケター
      募集方法
      * 雇用契約
      * 業務委託契約

      報酬
      * 要相談

      * 営業
      募集方法
      * 雇用契約

      報酬
      * 要相談
    </div>
  </div>
</app-body-container>