<app-body-container headerPosition="normal">
  <section class="content without-padding-bottom">
    <div class="inner-wrapper">
      <div class="header with-line">{{translation.recruit[lang]}}</div>
    </div>
  </section>
  <section class="content bg-white">
    <div class="inner-wrapper">
      <h2 class="header without-line">募集職種</h2>
      <h3>Go - Cosmos SDK エンジニア</h3>
      <p>Cosmos SDKを使ったブロックチェーンを開発するGoエンジニアを募集しています。</p>
      <h3>TypeScript - Angular,Firebase エンジニア</h3>
      <p>Angular,Firebaseを使ったアプリケーションを開発するTypeScriptエンジニアを募集しています。</p>
    </div>
  </section>
  <section>
    <div class="button-container">
      <a class="button rounded" routerLink="/company/contact" [ngStyle]="{'color': '#fff', 'background-color': '#174056'}">
        応募はこちら
      </a>
    </div>
  </section>
</app-body-container>