<app-section [color]="'mat-primary'">
  <mat-icon style="font-size: 48px;" [inline]="true">build</mat-icon>
  <ng-container *ngIf="lang === 'ja'">
    <h2>
      ブロックチェーンを利用するだけではなく、ブロックチェーンそのものを作れる時代。
    </h2>
    <p>
      ブロックチェーンを活かしたシステムを実証・開発・運用するにあたって、大きな問題があります。
    </p>
    <p>
      それは「既存のブロックチェーンの応用による開発では、完全にニーズを満たせない」ことです。
    </p>
    <p>
      しかしながら、CosmosSDKを利用すれば、理想のブロックチェーンを自由に作る事ができます。
    </p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
    <h2>
      This is an era in which not only using blockchains but also blockchains
      themselves can be made.
    </h2>
    <p>
      There are major problems in verifying, developing, and operating systems
      that are based on blockchains.
    </p>
    <p>
      It is "Development with existing blockchain applications does not fully
      meet needs".
    </p>
    <p>
      With the Cosmos SDK, however, you can create whatever blockchain as you
      want.
    </p>
  </ng-container>
</app-section>
<app-section [color]="'black'">
  <mat-icon style="font-size: 48px;" [inline]="true">money_off</mat-icon>
  <ng-container *ngIf="lang === 'ja'">
    <h2>月額制で実証・開発・運用のコストを圧縮。</h2>
    <p>
      月額制の料金で、弊社がブロックチェーンそのものの開発を行います。CosmosSDKの経験から、弊社は低コストでスピーディーに開発を行います。
    </p>
    <p>ブロックチェーンの実証実験に100万円を積む時代は過ぎ去りました。</p>
    <p>
      LCNEMならば、低コストなサブスクリプション型でブロックチェーンの導入を実験できます。
    </p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
    <h2>
      Monthly subscription system reduces costs for demonstration, development
      and operation.
    </h2>
    <p>
      our company will develop the blockchain itself for a monthly fee. our
      company 's experience with Cosmos SDK allows us to develop quickly and
      cheaply.
    </p>
    <p>
      The age of wasting 1 million yen for the demonstration experiment of
      blockchain is over.
    </p>
    <p>
      With LCNEM, you can experiment with low-cost subscription blockchain
      deployments.
    </p>
  </ng-container>
</app-section>
<app-section>
  <ng-container *ngIf="lang === 'ja'">
    <h2>料金</h2>
    <div [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>person</mat-icon>
            <mat-card-title>見積もり・初回相談(30分)</mat-card-title>
            <mat-card-subtitle>無料</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              見積もり・初回相談は無料です！ビデオ通話にて見積もりをさせていただきます。ビデオ通話のURLをお送りしますので、何もインストールして頂く必要はありません。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>build</mat-icon>
            <mat-card-title>開発・保守</mat-card-title>
            <mat-card-subtitle>月額9万円</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              月額9万円定額で、貴社の理想の独自ブロックチェーンを開発・保守します。開発にはCosmosSDKを用います。完成までの期間は、要望のヒアリングによりお答えさせていただきます。運用とは別料金となります。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>build</mat-icon>
            <mat-card-title>運用</mat-card-title>
            <mat-card-subtitle>月額2万円×ノード数定額</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              月額2万円×ノード数定額で、CosmosSDKを用いてつくられた貴社の独自のブロックチェーンを運用します。開発・保守とは別料金となります。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>person</mat-icon>
            <mat-card-title>コンサルティング・講師</mat-card-title>
            <mat-card-subtitle>要相談</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              ブロックチェーンでなにができるかについては、<a
                routerLink="/services/consulting"
                >コンサルティング・講師</a
              >もご利用ください。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
    <h2>Fee</h2>
    <div [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>person</mat-icon>
            <mat-card-title
              >Estimate and initial consultation (30 minutes)</mat-card-title
            >
            <mat-card-subtitle>Free</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Estimate and initial consultation is free! We will make an
              estimate by video call. I will send you the video call URL so you
              don't need to install anything.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>build</mat-icon>
            <mat-card-title>development and maintenance</mat-card-title>
            <mat-card-subtitle>90,000 yen per month</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              We develop and maintain your company 's ideal proprietary
              blockchain for a flat monthly fee of 90,000 yen. The CosmosSDK is
              used for development. We will answer the time until the completion
              by hearing your request. There is an extra charge for the
              operation.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>build</mat-icon>
            <mat-card-title>operations</mat-card-title>
            <mat-card-subtitle
              >20.000 yen per month × Number of Nodes(flat
              price)</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              20.000 yen per month × Number of Nodes(flat price) operates your
              company 's own blockchain created using the Cosmos SDK.
              Development and maintenance are charged separately.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="50" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar>person</mat-icon>
            <mat-card-title>Consulting / Lecture</mat-card-title>
            <mat-card-subtitle>Consultation needed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              If you want to know what you can do with blockchain, please refer: <a
                routerLink="/services/consulting"
                >Consulting / Lecture</a
              >.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</app-section>
<app-section>
  <h2>{{ translation.subscription[lang] }}</h2>
  <form #form="ngForm" (ngSubmit)="sendMail()">
    <mat-form-field fxFill appearance="outline">
      <input
        matInput
        name="name"
        placeholder="{{ translation.name[lang] }}"
        required
        [(ngModel)]="forms.name"
      />
    </mat-form-field>
    <mat-form-field fxFill appearance="outline">
      <input
        matInput
        name="organization"
        placeholder="{{ translation.organization[lang] }}"
        required
        [(ngModel)]="forms.organization"
      />
    </mat-form-field>
    <mat-form-field fxFill appearance="outline">
      <input
        matInput
        name="email"
        placeholder="{{ translation.email[lang] }}"
        required
        type="email"
        [(ngModel)]="forms.email"
      />
    </mat-form-field>
    <mat-form-field fxFill appearance="outline">
      <textarea
        matInput
        name="imagination"
        placeholder="{{ translation.imagination[lang] }}"
        required
        [(ngModel)]="forms.imagination"
      ></textarea>
    </mat-form-field>
    <div class="checkbox">
      <mat-checkbox fxFill name="agree" required [(ngModel)]="forms.agree">
        <span *ngIf="lang == 'ja'"
          ><a routerLink="/privacy-policy">プライバシーポリシー</a
          >に同意する</span
        >
        <span *ngIf="lang == 'en'"
          >I agree to <a routerLink="/privacy-policy">privacy policy</a></span
        >
      </mat-checkbox>
    </div>

    <button
      mat-raised-button
      fxFill
      [color]="'accent'"
      [disabled]="form.invalid"
    >
      {{ translation.send[lang] }}
    </button>
  </form>
</app-section>
