<header fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center">
    <h2>{{translation.top[lang]}}</h2>
  </div>
  <img fxFlex="50" fxFlex.xs="100" src="assets/images/lcnem.svg" />
</header>
<section>
  <ng-container *ngIf="lang === 'en'">
    <h2>理念</h2>
    <p>経済厚生を高めることがLCNEMのミッションです。</p>
    <p>手段は、インセンティブによるメカニズムデザインの考え方を広めることして、分散型台帳技術を使ったナローバンクを実現することです。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'ja'">
    <h2>理念</h2>
    <p>経済厚生を高めることこそがLCNEMのミッションです。</p>
    <p>手段は、インセンティブによるメカニズムデザインの考え方を広めること。そして、分散型台帳技術を使ったナローバンクを実現することです。</p>
  </ng-container>

  <ul>
    <li>latest,legal</li>
    <li>cryptographic,currency</li>
    <li>narrow-bank</li>
    <li>short-form of them</li>
  </ul>
</section>
<section>
  <h2>{{translation.services[lang]}}</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="service">
    <div fxFlex="50" fxFlex.xs="100" *ngFor="let s of service">
      <mat-card>
        <img mat-card-image src="{{s.image}}" />
        <mat-card-content>
          <h3>{{s.name}}</h3>
          <p>{{s.copy[lang]}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="mat-radius-button" color="primary" routerLink="{{s.link}}"
            fxFill>{{translation.readMore[lang]}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
<section>
  <h2>{{translation.media[lang]}}</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="media">
    <div fxFlex="50" fxFlex.xs="100" *ngFor="let m of media">
      <mat-card>
        <img mat-card-image src="{{m.image}}" />
        <mat-card-content>
          <h3>{{m.title}}</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button class="mat-radius-button" color="primary" href="{{m.url}}" target="_blank" fxFill>
            <img src="{{m.icon}}" class="icon" />
            <span>{{m.name}} <wbr/> {{m.date}}</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>