<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="global.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>FAQ</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <div fxLayout="row wrap">
        <mat-card fxFlex="50" fxFlex.xs="100">
          <img mat-card-image src="assets/images/cosmos.png" />
          <mat-card-content>
            <p>
              Q.{{translation.whatIsCosmos[global.lang]}}
            </p>
            <p>
              A.{{translation.whatIsCosmosA[global.lang]}}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="50" fxFlex.xs="100">
          <img mat-card-image src="assets/images/lcnem-nem.svg" />
          <mat-card-content>
            <p>
              Q.{{translation.whyNem[global.lang]}}
            </p>
            <p>
              A.{{translation.whyNemA[global.lang]}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="item">
        <h2>{{translation.roadmap[global.lang]}}</h2>
        <mat-list>
          <mat-list-item>
            <span>{{translation.noActionLetter[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon>done</mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.issueAsPrepaidBody[global.lang]}}">
            <span>{{translation.issueAsPrepaid[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon>done</mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.registerAsPrepaidWithSettlementBody[global.lang]}}">
            <span>{{translation.registerAsPrepaidWithSettlement[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon></mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.registerAsRemittanceBody[global.lang]}}">
            <span>{{translation.registerAsRemittance[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon></mat-icon>
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>