<div>
  <div class="back">
    <img
      class="filter"
      fxFill
      src="https://pbs.twimg.com/profile_images/1059679360070836224/uNbHbPfg_400x400.jpg"
    />
    <h2 id="recruit" class="comment">RECRUIT</h2>
    <a class="front-end">
      <h2>Front End Engineer</h2>
      <br />
      <h3>応募必要条件</h3>
      <h3>・Git,Githubをつかえること</h3>
      <h3>・HTML,CSS,JavaScriptを使えること</h3>
      <h3>・TypeScriptを使えること</h3>
      <h3>・Angular,Vue.js,Reactのうち1つ以上を使えること</h3>
      <br />
      <h3>歓迎条件</h3>
      <h3>・Firebaseを使えること</h3>
      <h3>・Angularを使えること</h3>
    </a>
    <a class="back-end">
      <h2>Back End Engineer</h2>
      <br />
      <h3>応募必要条件</h3>
      <h3>・Git,Githubをつかえること</h3>
      <h3>・Goを使えること</h3>
    </a>
    <a class="business-developer">
      <h2>Business Developer</h2>
      <br />
      <h3>応募必要条件</h3>
      <h3>・実務経験2年以上</h3>
      <h3>・英語で基本的な意思疎通ができること</h3>
      <h3>・HTML,CSSを使えること</h3>
    </a>
    <button class="button">
      <a routerLink="company/contact">
        まずは話を聞いてみる
      </a>
    </button>
  </div>
</div>
