@import './styles/parts/button';
@import './styles/parts/table';
@import './styles/parts/content.scss';
@import './styles/parts/header.scss';
@import './styles/parts/image.scss';
@import './styles/parts/top.scss';
@import './styles/parts/font.scss';
@import './styles/parts/feature-list.scss';
@import './styles/parts/icon.scss';
/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
}

mat-sidenav {
  width: 300px;
  overflow: auto;
}

.flexbox-container-vertical-center {
  margin: auto;
  padding: 0% 0 10px 0;
}

mat-icon {
  vertical-align: middle;
}


.fill-remaining-space{
  flex: 1 1 auto;
}

.body-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 16px;
}

mat-spinner {
  margin: 1em auto;
}

.floating-action-button.mat-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

/*これより上は他サービス共通　以下本プロジェクト専用*/
.inner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 92%;
}
/*  */

@media screen and (max-width: 599px) {
  section h4 {text-align: center}
  section h2 {text-align: center}
  section h5 {text-align: center}
  .flexbox-container-vertical-center {
    margin: 5px;
  }
}
