/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 300px;
  overflow: auto;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 16px;
}

mat-spinner {
  margin: 1em auto;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

.floating-action-button.mat-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

/*これより上は他サービス共通　以下本プロジェクト専用*/
header {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size : 1.6em;
  line-height: 120%;
}
header h2 {
  font-size: 3.2em !important;
  line-height: 120% !important;
}

