/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 300px;
  overflow: auto;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 16px;
}

mat-spinner {
  margin: 1em auto;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

/*これより上は他サービス共通　以下本プロジェクト専用*/
header {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  font-size : 1.6em;
  line-height: 120%;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
header h2 {
  font-size: 1.6em !important;
  line-height: 120% !important;
}
.mat-button.mat-radius-button, .mat-raised-button.mat-radius-button {
  border-radius: 18px;
}
section {
  margin-top: 16px;
  margin-bottom: 16px;
}
section p {
  font-size: 1.2em;
  line-height: 120%;
}
h3.heading {
  font-size: 1.6em;
  line-height: 120%;
}
h4.heading {
  font-size: 1.4em;
  line-height: 120%;
}