<app-section [color]="'mat-orange'">
  <h2 class="bold-heading" [ngSwitch]="''">
    <ng-container *ngSwitchDefault>Firebase移行サービス</ng-container>
  </h2>
  <p>
    圧倒的な高い生産性でシステム開発が可能なFirebase。
    <br />
    「SQLを使ってるけど、NoSQLにしたい」
    <br />
    「API群をサーバーレスアーキテクチャにしたい」
    <br />
    「Firestoreをすでにつかってるが、DBスキーマを更新したい」
    <br />
    「AWSやAzureからFirebaseに移行したい」
    <br />
    <br />
    このようなお悩みをお持ちのお客様を対象に、既存のシステムのFirebaseへの移行、FirebaseのFirebase内移行に関するコンサルティングや実装を行っております。
  </p>
  <button mat-raised-button routerLink="/company/contact">
    お問い合わせはこちら
  </button>
</app-section>
<app-section [color]="'mat-gray'">
  <h2 class="bold-heading">実績一覧</h2>
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    fxLayoutAlign="space-around center"
  >
    <ng-container
      *ngFor="
        let e of [
          [
            'https://www.polipoli.work/',
            'PoliPoli',
            'assets/images/partners/polipoli.svg'
          ]
        ]
      "
    >
      <div>
        <div matRipple>
          <a href="{{ e[0] }}" target="_blank">
            <img class="partner-image" alt="{{ e[1] }}" src="{{ e[2] }}" />
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</app-section>
