<app-body-container headerPosition="normal">
  <div class="inner-wrapper">
    <div class="body-container">
      <h2 class="without-line">FAQ</h2>
      <div>
        <div class="faq-content" *ngFor="let f of faqContent" fxLayout="row wrap" fxLayoutAlign="center">
          <div fxFlex="70" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center">
            <h2>
              Q.{{f.question[global.lang]}}
            </h2>
            <p>
              A.{{f.answer[global.lang]}}
            </p>
          </div>
          <div fxFlex="5" fxFlex.xs="0">
          </div>
          <div fxFlex="25" fxFlex.xs="60" fxLayout="column" fxLayoutAlign="center" class="img-box">
            <img src="{{f.imgURL}}" />
          </div>
        </div>
      </div>
      <div class="item">
        <h2>{{translation.roadmap[global.lang]}}</h2>
        <mat-list>
          <mat-list-item>
            <span>{{translation.noActionLetter[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon>done</mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.issueAsPrepaidBody[global.lang]}}">
            <span>{{translation.issueAsPrepaid[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon>done</mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.registerAsPrepaidWithSettlementBody[global.lang]}}">
            <span>{{translation.registerAsPrepaidWithSettlement[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon></mat-icon>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item matTooltip="{{translation.registerAsRemittanceBody[global.lang]}}">
            <span>{{translation.registerAsRemittance[global.lang]}}</span>
            <span class="fill-remaining-space"></span>
            <span>
              <mat-icon></mat-icon>
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</app-body-container>