<mat-drawer-container>
  <mat-drawer #drawer class="mat-elevation-z16" position="end">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-typography {{color}}">
      <app-header color="{{color}}" position="{{headerPosition}}">
        <button mat-icon-button (click)="drawer.toggle()" yPosition="below">
          <mat-icon class="hamburger">menu</mat-icon>
        </button>
      </app-header>
      <ng-content></ng-content>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>