<app-section>
  <h1><b>PARTNER</b></h1>
  <br />
  <div class="layout">
    <div>
      <div class="title">
        <a href="http://etherinc.co/" target="_blank">
          <img
            class="partners"
            mat-card-image
            src="assets/images/partners/etherinc_bnr.png"
          />

          Ether Security</a
        >
      </div>
    </div>
    <div>
      <div class="title">
        <a href="http://www.unitedbitcoiners.com/">
          <img
            class="partners"
            mat-card-image
            src="assets/images/partners/ub.png"
          />
        </a>
      </div>
    </div>
    <div>
      <div class="title">
        <a href="https://www.proximax.io/">
          <img
            class="partners"
            mat-card-image
            src="assets/images/partners/proximax.jpg"
          />
        </a>
      </div>
    </div>
  </div>
</app-section>
