<app-body-container headerPosition="normal">
  <section>
    <div class="top bg-gray">
      <div class="inner-wrapper">
        <img src="assets/images/pc_billboard.png" class="image banner" />
      </div>
    </div>
  </section>
  <section class="content without-padding-bottom">
    <div class="inner-wrapper">
      <div class="header with-line">助成ルール</div>
    </div>
  </section>
  <section class="content bg-white">
    <div class="inner-wrapper">
      <div class="table two-column">
        <h4 class="tag">助成への応募</h4>
        <table>
          <tbody>
            <tr>
              <th>募集日時</th>
              <td>2018/12/01~2019/06/30</td>
            </tr>
            <tr>
              <th>応募費用</th>
              <td>なし</td>
            </tr>
            <tr>
              <th>応募資格</th>
              <td>
                <p>以下すべてを満たしていると判断されるサービス</p>
                <ol>
                  <li>JPY#LCNEMをtip等としての譲渡を仲介する、もしくは売買を仲介する機能を含んでいるアプリケーション。含んでさえいれば、アプリケーションの内容は問わない。</li>
                  <li>現在は自家型前払式支払手段である。JPY#LCNEMに関して正しく法律に則っていること。</li>
                  <li>反社会的勢力との関連がないこと。</li>
                  <li>HYIP・MLMのプロジェクトではないこと。</li>
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="table two-column">
    <div class="inner-wrapper">
      <h4 class="tag">動作内容</h4>
      <table>
        <tbody>
          <tr>
            <th>助成金</th>
            <td>
              <ol>
                <li>JPY#LCNEMとして支払われる。</li>
                <li>金額は審査により1000~100000円。</li>
              </ol>
            </td>
          </tr>
          <tr>
            <th>その他</th>
            <td>設計アドバイス</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="table two-column">
    <div class="inner-wrapper">
      <h4 class="tag">公開投票</h4>
      <table>
        <tbody>
          <tr>
            <th>日時</th>
            <td>2019/07/01~2019/07/10</td>
          </tr>
          <tr>
            <th>被投票資格</th>
            <td>助成に応募したものすべて</td>
          </tr>
          <tr>
            <th>投票資格</th>
            <td>実質的に、JPY#LCNEMを保有しているもの</td>
          </tr>
          <tr>
            <th>投票方法</th>
            <td>
              <ol>
                <li>投票者は、被投票者のNEMアドレスと、1JPY#LCNEMを送信する。</li>
                <li>受信したJPY#LCNEMの量を、獲得票数とする。</li>
                <li>1アドレスから1円より多く受信した分のみ換算しない。</li>
                <li>受信したJPY#LCNEMの所有権は、各被投票者に帰属する。</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="table two-column">
    <div class="inner-wrapper">
      <h4 class="tag">公開投票による助成内容</h4>
      <table>
        <tbody>
          <tr>
            <th>助成金</th>
            <td>
              <ol>
                <li>JPY#LCNEMとして支払われる。</li>
                <li>金額は1位に50000円、2位に30000円、3位に10000円</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="button-container">
      <a class="button rounded" routerLink="/" target="_blank" [ngStyle]="{'color': '#fff', 'background-color': '#61bcba'}">
        お問い合わせ・ご応募はこちらから
      </a>
    </div>
  </section>
</app-body-container>