<app-section>
  <h2 class="bold-heading">
    PRODUCTS
  </h2>
  <div fxLayout="row-reverse" fxLayoutGap="16px grid" fxLayoutAlign="initial center">
    <div fxFlex="50">
      <img style="width: 100%;" src="assets/images/luster/wallet.jpg" />
    </div>
    <div fxFlex="50">
      <h3 class="bold-heading">LCNEM Wallet</h3>
      <p class="catchphrase">ブロックチェーンでできることを、もっと身近に。</p>
      <a mat-raised-button offset="20" color="primary" href="https://wallet.lcnem.com/">
        詳細
      </a>
    </div>
  </div>
</app-section>