<app-section>
  <h2 class="bold-heading">
    PRODUCTS
  </h2>
  <h3 class="bold-heading">LCNEM Wallet</h3>
  <div
    fxLayout="row-reverse"
    fxLayoutGap="16px grid"
    fxLayoutAlign="initial center"
  >
    <div fxFlex="50">
      <img style="width: 100%;" src="assets/images/luster/wallet.jpg" />
    </div>
    <div fxFlex="50">
      <p class="catchphrase">ブロックチェーンでできることを、もっと身近に。</p>
      <a
        mat-button
        color="accent"
        href="https://wallet.lcnem.com/"
        class="big-button"
      >
        もっとくわしく
      </a>
    </div>
  </div>
</app-section>
