<app-section>
  <h2 id="recruit">RECRUIT</h2>
</app-section>

<app-section>
  <h3>Software Engineer</h3>

  <p>
    フルタイムではなく週数日から！フリーランスとしてコミットできるエンジニアの方を募集しています。
  </p>

  <button
    mat-button
    class="big-button"
    [color]="'primary'"
    [routerLink]="'/company/contact'"
  >
    まずは話を聞いてみる
  </button>
</app-section>
<app-section>
  <h3>Software Engineer & Learner</h3>

  <p>
    技術向上したいエンジニア向け！弊社の技術を学びつつ、実装を行っていただきます。フルタイム限定となっております。
  </p>

  <button
    mat-button
    class="big-button"
    [color]="'primary'"
    [routerLink]="'/company/contact'"
  >
    まずは話を聞いてみる
  </button>
</app-section>
<app-section>
  <h3>主な使用技術</h3>

  <p>
    モダンなフロントエンド開発から、サーバーレスアーキテクチャによるバックエンド開発、コンテナによるバックエンド運用、ブロックチェーンや機械学習の知識など幅広く最新の技術を使用しています。
    CTOを中心として統一されている、洗練された方法論で開発を行っています。
  </p>
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    fxLayoutAlign="space-around center"
  >
    <ng-container
      *ngFor="
        let e of [
          ['assets/images/technologies/angular.svg', 'Angular'],
          ['assets/images/technologies/cosmos.svg', 'Cosmos'],
          ['assets/images/technologies/docker.png', 'Docker'],
          ['assets/images/technologies/firebase.svg', 'Firebase'],
          ['assets/images/technologies/github.svg', 'GitHub'],
          ['assets/images/technologies/go.svg', 'Go'],
          ['assets/images/technologies/pwa.svg', 'Progressive Web Application'],
          ['assets/images/technologies/rust.svg', 'Rust'],
          ['assets/images/technologies/typescript.svg', 'TypeScript']
        ]
      "
    >
      <div>
        <img
          class="tech-logo"
          src="{{ e[0] }}"
          alt="{{ e[1] }}"
          width="100px"
          height="100px"
        />
      </div>
    </ng-container>
  </div>
</app-section>
