<app-section>
  <h2 class="bold-heading">CONTACT</h2>
  <form
    #form="ngForm"
    (submit)="
      onSubmit(
        name.value,
        email.value,
        subject.value[0],
        body.value,
        subject.value[1]
      )
    "
  >
    <mat-form-field fxFill>
      <mat-label [ngSwitch]="''">
        <ng-container *ngSwitchDefault>お名前</ng-container>
      </mat-label>
      <input #name matInput required ngModel name="name" />
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label [ngSwitch]="''">
        <ng-container *ngSwitchDefault>メールアドレス</ng-container>
      </mat-label>
      <input #email matInput required type="email" ngModel name="email" />
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label [ngSwitch]="''">
        <ng-container *ngSwitchDefault>件名</ng-container>
      </mat-label>
      <mat-select
        #subject
        matInput
        required
        ngModel
        name="subject"
        [ngSwitch]="''"
      >
        <ng-container *ngSwitchDefault>
          <mat-option
            [value]="['システム設計・開発', subjectTypes.SYSTEM_INTEGRATION]"
            >システム設計・開発</mat-option
          >
          <mat-option
            [value]="[
              'サブスクリプション型ブロックチェーン開発サービス',
              subjectTypes.BLOCKCHAIN_SUBSCRIPTION
            ]"
            >サブスクリプション型ブロックチェーン開発サービス
          </mat-option>
          <mat-option
            [value]="[
              'MVP設計コンサルティング・開発サービス',
              subjectTypes.MVP
            ]"
            >MVP設計コンサルティング・開発サービス
          </mat-option>
          <mat-option [value]="['Firebase移行サービス', subjectTypes.FIREBASE]"
            >Firebase移行サービス
          </mat-option>
          <mat-option [value]="['弊社へのセールス', subjectTypes.SALES]"
            >弊社へのセールス</mat-option
          >
          <mat-option [value]="['その他', subjectTypes.OTHERS]"
            >その他</mat-option
          >
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label [ngSwitch]="''">
        <ng-container *ngSwitchDefault>
          メッセージを入力してください
        </ng-container>
      </mat-label>
      <textarea
        #body
        rows="12"
        style="resize: none;"
        matInput
        required
        ngModel
        name="body"
      ></textarea>
    </mat-form-field>
    <div fxLayout="row">
      <div>
        <mat-checkbox fxFill required ngModel name="agree" [ngSwitch]="''">
          <ng-container *ngSwitchDefault>
            プライバシーポリシーに同意する
          </ng-container>
        </mat-checkbox>
      </div>
      <span fxFlex="1 1 auto"></span>
      <a routerLink="/terms" [ngSwitch]="''">
        <ng-container *ngSwitchDefault>プライバシーポリシー</ng-container>
      </a>
    </div>

    <button
      mat-raised-button
      fxFill
      [color]="'accent'"
      [disabled]="form.invalid"
      [ngSwitch]="''"
    >
      <ng-container *ngSwitchDefault>送信する</ng-container>
    </button>
  </form>
</app-section>
