<div class="container">
  <dl>
    <dt [ngSwitch]="''">
      <ng-container *ngSwitchDefault>会社名</ng-container>
    </dt>
    <dd [ngSwitch]="''">
      <ng-container *ngSwitchDefault>株式会社LCNEM</ng-container>
    </dd>
  </dl>
  <dl>
    <dt [ngSwitch]="''">
      <ng-container *ngSwitchDefault>本社所在地</ng-container>
    </dt>
    <dd [ngSwitch]="''">
      <ng-container *ngSwitchDefault
        >京都市上京区油小路中立売下る甲斐守町97番地西陣産業創造會舘2階</ng-container
      >
    </dd>
  </dl>
  <dl>
    <dt [ngSwitch]="''">
      <ng-container *ngSwitchDefault>代表取締役</ng-container>
    </dt>
    <dd [ngSwitch]="''">
      <ng-container *ngSwitchDefault>木村優</ng-container>
    </dd>
  </dl>
</div>
