<app-section>
  <h2>{{ translation.application[lang] }}</h2>
  <form #form="ngForm" (ngSubmit)="sendMail()">
    <mat-form-field fxFill appearance="outline">
      <input
        matInput
        name="name"
        placeholder="{{ translation.name[lang] }}"
        required
        [(ngModel)]="forms.name"
      />
    </mat-form-field>

    <mat-form-field fxFill appearance="outline">
      <input
        matInput
        name="email"
        placeholder="{{ translation.email[lang] }}"
        required
        type="email"
        [(ngModel)]="forms.email"
      />
    </mat-form-field>

    <mat-form-field fxFill appearance="outline">
      <textarea
        matInput
        name="subject"
        placeholder="{{ translation.subject[lang] }}"
        required
        [(ngModel)]="forms.subject"
      ></textarea>
    </mat-form-field>

    <ng2-flatpickr [config]="options"></ng2-flatpickr>

    <mat-form-field class="example-full-width">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="{{ translation.date[lang] }}"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker2" placeholder="" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker3" placeholder="" />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker3></mat-datepicker>
    </mat-form-field>

    <button
      mat-raised-button
      fxFill
      [color]="'accent'"
      [disabled]="form.invalid"
    >
      {{ translation.apply[lang] }}
    </button>
  </form>
</app-section>
