<app-section [color]="'mat-primary'">
  お問い合わせいただきありがとうございます。
  <br />
  お客様からのご意見・ご要望はサービスの向上に活用させていただきます。
  <br />
  <br />
  我々の不備に関しましても、速やかにご対応させていただきます。
  <br />
  お待たせしてしまい申し訳ございませんが、担当者からの連絡をお待ちくださいませ。
</app-section>

<form
  #form="ngForm"
  (submit)="onSubmit(name.value, email.value, body.value, 'ja')"
>
  <mat-form-field fxFill>
    <mat-label [ngSwitch]="''">
      <ng-container *ngSwitchDefault>お名前</ng-container>
    </mat-label>
    <input #name matInput required ngModel name="name" />
  </mat-form-field>
  <mat-form-field fxFill>
    <mat-label [ngSwitch]="''">
      <ng-container *ngSwitchDefault>メールアドレス</ng-container>
    </mat-label>
    <input #email matInput required type="email" ngModel name="email" />
  </mat-form-field>
  <mat-form-field fxFill>
    <mat-label [ngSwitch]="''">
      <ng-container *ngSwitchDefault>ご用件</ng-container>
    </mat-label>
    <textarea #body matInput required ngModel name="body"></textarea>
  </mat-form-field>
  <div class="checkbox">
    <mat-checkbox fxFill required ngModel name="agree" [ngSwitch]="''">
      <ng-container *ngSwitchDefault>
        <span
          ><a routerLink="/privacy-policy">プライバシーポリシ </a
          >に同意する</span
        >
      </ng-container>
    </mat-checkbox>
  </div>

  <button
    mat-raised-button
    fxFill
    [color]="'accent'"
    [disabled]="form.invalid"
    [ngSwitch]="''"
  >
    <ng-container *ngSwitchDefault>送信する</ng-container>
  </button>
</form>
