<app-section>
  <h2 class="bold-heading">SERVICES</h2>
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    fxLayoutAlign="space-around start"
  >
    <div class="item" fxFlex.xs="100">
      <a routerLink="services/system-integration">
        <lib-ripple-card>
          <img mat-card-image src="assets/images/luster/development.jpg" />
          <mat-card-content>
            <p>システム設計・開発サービス</p>
          </mat-card-content>
        </lib-ripple-card></a
      >
    </div>
    <div class="item" fxFlex.xs="100">
      <a routerLink="services/blockchain-subscription">
        <lib-ripple-card>
          <img mat-card-image src="assets/images/luster/subscription.jpg" />
          <mat-card-content>
            <p>サブスクリプション型<br />ブロックチェーン開発サービス</p>
          </mat-card-content>
        </lib-ripple-card>
      </a>
    </div>
    <div class="item" fxFlex.xs="100">
      <a routerLink="services/minimum-viable-product">
        <lib-ripple-card>
          <img mat-card-image src="assets/images/luster/consulting.jpg" />
          <mat-card-content>
            <p>MVP設計コンサルティング<br />・開発サービス</p>
          </mat-card-content>
        </lib-ripple-card>
      </a>
    </div>
    <div class="item" fxFlex.xs="100">
      <a routerLink="services/firebase-migration">
        <lib-ripple-card>
          <img mat-card-image src="assets/images/luster/migration.jpg" />
          <mat-card-content>
            <p>Firebase移行サービス</p>
          </mat-card-content>
        </lib-ripple-card>
      </a>
    </div>
  </div>
</app-section>
