footer {
  color: white;
  background: #222222;
  line-height: 200%;
}

footer a {
  color: inherit;
}

footer p {
  margin: 0;
  text-align: center;
}

.app-nav-list-container {
  background-color: rgba(255, 255, 255, 0.2);
}