<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="global.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.contact[global.lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <form #form="ngForm" (ngSubmit)="sendMail()">
        <mat-form-field fxFill>
          <input matInput placeholder="{{translation.name[global.lang]}}" [(ngModel)]="forms.name" name="name" required />
        </mat-form-field>
        <mat-form-field fxFill>
          <input matInput type="email" placeholder="{{translation.email[global.lang]}}" [(ngModel)]="forms.email" name="email"
            required />
        </mat-form-field>
        <mat-form-field fxFill>
          <mat-select placeholder="{{translation.subject[global.lang]}}" [(ngModel)]="forms.subject" name="subject"
            required>
            <ng-container *ngFor="let subject of translation.subjects; let i = index">
              <mat-option value="{{i}}">{{subject[global.lang]}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFill>
          <textarea matInput placeholder="{{translation.body[global.lang]}}" [(ngModel)]="forms.body" name="body"
            required></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" fxFill [disabled]="form.invalid">{{translation.send[global.lang]}}</button>
      </form>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>