<mat-divider></mat-divider>
<footer>
  <div class="container">
    <div [fxLayout]="'row'" [fxLayoutAlign]="'center'">
      <ul [fxFlex]="50" [fxFlex.xs]="100">
        <li>
          <a [routerLink]="'/company/about'">
            <span>{{translation.aboutCompany[lang]}}</span>
          </a></li>
        <li>
          <a [routerLink]="'/company/media-kit'">
            <span>{{translation.mediaKit[lang]}}</span>
          </a></li>
      </ul>
      <app-twitter-timeline [twitterId]="'lcnem_' + lang" [theme]="'dark'" [fxFlex]="50" [fxFlex.xs]="100">
      </app-twitter-timeline>
    </div>
    <div [fxLayout]="'row'" [fxLayoutAlign]="'center'">
      <a [routerLink]="'/terms/privacy-policy'">{{translation.privacyPolicy[lang]}}</a>
    </div>
    <p class="copy-right">&copy; {{translation.lcnemInc[lang]}}</p>
  </div>
</footer>