.officer-image {
  object-fit: cover;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 1s ease;
}
.officer-wrapper:hover .officer-image {
  opacity: 1;
}
