<h2>{{translation.mediaKit[lang]}}</h2>
<div fxLayout="row wrap" fxLayoutGap="16px">
  <mat-card fxFlex="50" fxFlex.xs="100">
    <img mat-card-image src="assets/images/lcnem.svg">
    <mat-card-actions>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50" fxFlex.xs="100">
          <a mat-button class="mat-radius-button" color="accent" href="assets/images/lcnem.svg" download fxFill>
            <mat-icon>save_alt</mat-icon>
            <span>SVG</span>
          </a>
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <a mat-button class="mat-radius-button" color="accent" href="favicon.png" download fxFill>
            <mat-icon>save_alt</mat-icon>
            <span>PNG</span>
          </a>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>