<app-header [heading]="'LCNEM Cheque'" [image]="'assets/images/cheque/pegged-asset.svg'">
  <p>{{translation.top[lang]}}</p>
  <a mat-button class="mat-radius-button" href="https://cheque.lcnem.com" target="_blank"
    [color]="'accent'">{{translation.gettingStarted[lang]}}</a>
</app-header>
<app-section [color]="'mat-primary'">
  <mat-icon style="font-size: 48px;" [inline]="true">info</mat-icon>
  <ng-container *ngIf="lang === 'en'">
    <h3>LCNEM Chequeとは</h3>
    <p>LCNEM Chequeは、ブロックチェーン上の新型プログラマブル電子マネーです。ブロックチェーンにおけるいわゆる「ステーブルコイン」としての役割を果たします。</p>
    <p>プログラマブル、つまり自由にプログラムできる電子マネーとして活用することができます。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'ja'">
    <h3>LCNEM Chequeとは</h3>
    <p>LCNEM Chequeは、ブロックチェーン上の新型プログラマブル電子マネーです。ブロックチェーンにおけるいわゆる「ステーブルコイン」としての役割を果たします。</p>
    <p>プログラマブル、つまり自由にプログラムできる電子マネーとして活用することができます。</p>
  </ng-container>
</app-section>
<app-section>
  <h3>{{translation.supportingLedgers[lang]}}</h3>
  <div class="ledger" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div *ngFor="let l of ledger" [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <img mat-card-image src="{{l.image}}" />
        <mat-card-content>
          <h3>{{l.name}}</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-section>
<app-section>
  <a mat-raised-button fxFill class="mat-radius-button" href="https://wallet.lcnem.com" target="_blank"
    [color]="'accent'">{{translation.gettingStarted[lang]}}</a>
</app-section>