<app-body-container headerPosition="normal">
  <div class="inner-wrapper">
    <div class="body-container">
      <h2 class="header without-line">{{translation.corporateInformation[lang]}}</h2>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex=" 50" fxFlex.sm="80" fxFlex.xs="100">
          <dl>
            <dt>{{translation.corporateName[lang]}}</dt>
            <dd>{{translation.name[lang]}}</dd>

            <dt>{{translation.corporateAddress[lang]}}</dt>
            <dd>{{translation.address[lang]}}</dd>

            <dt>{{translation.establishmentDate[lang]}}</dt>
            <dd>2018/03</dd>

            <dt>{{translation.capitalStock[lang]}}</dt>
            <dd>{{translation.capitalAmount[lang]}}</dd>

            <dt>{{translation.yuPosition[lang]}}</dt>
            <dd>{{translation.yu[lang]}}</dd>

            <dt>{{translation.takeruPosition[lang]}}</dt>
            <dd>{{translation.takeru[lang]}}</dd>

            <dt>{{translation.takuyaPosition[lang]}}</dt>
            <dd>{{translation.takuya[lang]}}</dd>

            <dt>{{translation.xxxPositiion[lang]}}</dt>
            <dd>{{translation.xxx[lang]}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</app-body-container>