<app-header [heading]="translation.recruitment[lang]" [image]="'assets/images/lcnem.svg'"></app-header>
<app-section color="mat-primary">
  <ng-container *ngIf="lang === 'ja'">
    <h3>給与</h3>
    <p>給与は能力に応じて相談させていただきます。コミット度合いに応じてストックオプションがあります。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
    <h3>Salary</h3>
    <p>We'll discuss your salary according to your ability. We will provide you with some stock options according to your commitment level.</p>
  </ng-container>
</app-section>
<app-section>
  <ng-container *ngIf="lang === 'ja'">
      <h3>勤務体系</h3>
      <p>基本的には、月火水木金のフルタイムです。ただし、一定程度の生産性を持つと判断した方には、水曜休みで月火木金の勤務とします。</p>
  </ng-container>>
  <ng-container *ngIf="lang === 'en'">
      <h3>Work Style</h3>
      <p>It's the basic style that full-time working from Monday to Friday, but we can offer the merginal horiday on Wednesday if you can exert considerable productivity. </p>
  </ng-container>>
  <mat-horizontal-stepper>
    <mat-step>
      <ng-container *ngIf="lang === 'ja'">
          <ng-template matStepLabel>月</ng-template>
      </ng-container>
      <ng-container *ngIf="lang === 'en'">
          <ng-template matStepLabel>Mon</ng-template>
      </ng-container>
      <ng-container *ngIf="lang === 'ja'">
          フルタイムです。
      </ng-container>
      <ng-container *ngIf="lang === 'en'">
          full-time.
      </ng-container>
    </mat-step>
    <mat-step>
        <ng-container *ngIf="lang === 'ja'">
            <ng-template matStepLabel>火</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            <ng-template matStepLabel>Tue</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'ja'">
            フルタイムです。
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            full-time.
        </ng-container>
    </mat-step>
    <mat-step>
        <ng-container *ngIf="lang === 'ja'">
            <ng-template matStepLabel>水</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            <ng-template matStepLabel>Wen</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'ja'">
            フルタイムです。ただし一定以上の生産性を持つ人は休みです。
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            full-time, but those who can exert considerable productivity will be given merginal horiday.
        </ng-container>
    </mat-step>
    <mat-step>
        <ng-container *ngIf="lang === 'ja'">
            <ng-template matStepLabel>木</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            <ng-template matStepLabel>Thr</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'ja'">
            フルタイムです。
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            full-time.
        </ng-container>
    </mat-step>
    <mat-step>
        <ng-container *ngIf="lang === 'ja'">
            <ng-template matStepLabel>金</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            <ng-template matStepLabel>Fri</ng-template>
        </ng-container>
        <ng-container *ngIf="lang === 'ja'">
            フルタイムです。
        </ng-container>
        <ng-container *ngIf="lang === 'en'">
            full-time.
        </ng-container>
    </mat-step>
  </mat-horizontal-stepper>
</app-section>
<app-section color="mat-primary">
  <ng-container *ngIf="lang === 'ja'">
      <h3>勤務地</h3>
      <p>リモートワークが基本です。通勤はありません。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
      <h3>Work Place</h3>
      <p> Telecommute is the basic style. Commute won't be needed.</p>
  </ng-container>
</app-section>
<app-section>
  <ng-container *ngIf="lang === 'ja'">
      <h3>エンジニアリングサイド募集</h3>
      <p>サービスを一緒に作るエンジニアを募集しています！2つのコースに分けて募集をしていますが、入社後は興味に応じてどちらもやっていただきます。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
      <h3>Recruitment of the development-side menber</h3>
      <p>We are recruiting engineers who can develop our services together! Two courses are prepared, but you should acquire contents of both courses finally according to your interest. </p>
  </ng-container>
  <div class="job" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>build</mat-icon>
          <ng-container *ngIf="lang === 'ja'">
            <mat-card-title>Webアプリエンジニア</mat-card-title>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
            <mat-card-title>Web Application Engineer</mat-card-title>
          </ng-container>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="lang === 'ja'">
              <h4>応募必要条件</h4>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
              <h4>Requirements</h4>
          </ng-container>
          <ng-container *ngIf="lang === 'ja'">
          <ul>
               <li>Git,GitHubを使えること</li>
               <li>HTML,CSS,JavaScriptを使えること</li>
               <li>TypeScriptを使えること</li>
               <li>Angular,Vue.js,Reactのうち1つ以上を使えること</li>
             </ul>
             <h4>なかで使える/習得できるスキル</h4>
             <mat-chip-list>
               <mat-chip>経済学</mat-chip>
               <mat-chip>情報学</mat-chip>
               <mat-chip>TypeScript</mat-chip>
               <mat-chip>Angular</mat-chip>
               <mat-chip>Firebase</mat-chip>
               <mat-chip>Google Cloud Platform</mat-chip>
               <mat-chip>Go</mat-chip>
               <mat-chip>ブロックチェーン</mat-chip>
               <mat-chip>Cosmos SDK</mat-chip>
             </mat-chip-list>
             </ng-container>
        <ng-container *ngIf="lang === 'en'">
              <ul>
                <li>able to use Git,Github</li>
                <li>able to use HTML,CSS,JavaScript</li>
                <li>able to use TypeScript</li>
                <li>able to use at least one of languages of Angular,Vue.js,React</li>
              </ul>
              <h4>Skills that can be used/learned inside</h4>
              <mat-chip-list>
                <mat-chip>Economics</mat-chip>
                <mat-chip>Infomatics</mat-chip>
                <mat-chip>TypeScript</mat-chip>
                <mat-chip>Angular</mat-chip>
                <mat-chip>Firebase</mat-chip>
                <mat-chip>Google Cloud Platform</mat-chip>
                <mat-chip>Go</mat-chip>
                <mat-chip>Blockchains</mat-chip>
                <mat-chip>Cosmos SDK</mat-chip>
              </mat-chip-list>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <div [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>build</mat-icon>
          <ng-container *ngIf="lang === 'ja'">
              <mat-card-title>データエンジニア</mat-card-title>
            </ng-container>
            <ng-container *ngIf="lang === 'en'">
              <mat-card-title>Data Engineer</mat-card-title>
            </ng-container>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="lang === 'ja'">
                <h4>応募必要条件</h4>
            </ng-container>
            <ng-container *ngIf="lang === 'en'">
                <h4>Requirements</h4>
            </ng-container>
            <ng-container *ngIf="lang === 'ja'">
          <ul>
            <li>Git,GitHubを使えること</li>
            <li>Goを使えること</li>
            <li>機械学習を使えること</li>
          </ul>
          <h4>なかで使える/習得できるスキル</h4>
          <mat-chip-list>
            <mat-chip>統計学</mat-chip>
            <mat-chip>経済学</mat-chip>
            <mat-chip>情報学</mat-chip>
            <mat-chip>機械学習</mat-chip>
            <mat-chip>Google Cloud Platform</mat-chip>
            <mat-chip>Go</mat-chip>
            <mat-chip>ブロックチェーン</mat-chip>
            <mat-chip>Cosmos SDK</mat-chip>
          </mat-chip-list>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
              <ul>
                <li>able to use Git,GitHub</li>
                <li>able to use Go</li>
                <li>abe to use Machine learning</li>
              </ul>
              <h4>Skills that can be used/learned inside</h4>
              <mat-chip-list>
                <mat-chip>Statistics</mat-chip>
                <mat-chip>Economics</mat-chip>
                <mat-chip>Infomatics</mat-chip>
                <mat-chip>Machine learning</mat-chip>
                <mat-chip>Google Cloud Platform</mat-chip>
                <mat-chip>Go</mat-chip>
                <mat-chip>Blockchains</mat-chip>
                <mat-chip>Cosmos SDK</mat-chip>
              </mat-chip-list>
              </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-section>
<app-section>
  <ng-container *ngIf="lang === 'ja'">
      <h3>ビジネスサイド募集</h3>
      <p>興味に応じてエンジニアリング習得も可能です。</p>
  </ng-container>
  <ng-container *ngIf="lang === 'en'">
      <h3>Recruitment of the development-side menber</h3>
      <p>You can also learn engineering skills according to your interest</p>
      </ng-container>
  <div class="job" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>business</mat-icon>
          <ng-container *ngIf="lang === 'ja'">
            <mat-card-title>マーケター</mat-card-title>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
            <mat-card-title>Marketer</mat-card-title>
          </ng-container>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="lang === 'ja'">
             <h4>応募必要条件</h4>
             <ul>
               <li>実務経験2年以上</li>
               <li>英語で基本的な意思疎通ができること</li>
               <li>HTML,CSSを使えること</li>
          </ul>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
              <h4>Requirements</h4>
              <ul>
                <li>2 + years of practical experience</li>
                <li>able to basically communicate with team member in English</li>
                <li>able to use HTML,CSS</li>
              </ul>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-section>
<app-section>
  <a mat-raised-button fxFill class="mat-radius-button" [color]="'accent'"
    [routerLink]="'/company/contact'">{{translation.contact[lang]}}</a>
</app-section>