@import '~@angular/material/theming';

$blue-pink-primary: mat-palette($mat-blue);
$blue-pink-accent:  mat-palette($mat-pink);
$blue-pink-theme: mat-light-theme($blue-pink-primary, $blue-pink-accent);

@include angular-material-theme($blue-pink-theme);
