<app-body-container headerPosition="normal">
  <div class="inner-wrapper">
    <div class="body-container">
      助成ルール
      JPY#LCNEM…lc:jpy
      助成への応募
      募集日時…2018/12/01～2019/06/30
      応募費用…なし
      応募資格
      以下すべてを満たしていると判断されるサービス
      JPY#LCNEMをtip等としての譲渡を仲介する、もしくは売買を仲介する機能を含んでいるアプリケーション。含んでさえいれば、アプリケーションの内容は問わない。
      現在は自家型前払式支払手段である、JPY#LCNEMに関して正しく法律に則っていること。
      反社会的勢力との関連がないこと。
      HYIP・MLMのプロジェクトではないこと。
      助成内容
      助成金
      JPY#LCNEMとして支払われる。
      金額は審査により1000～100000円。
      設計アドバイス
      公開投票
      日時…2019/07/01～2019/07/10
      被投票資格…助成に応募したもの全て
      投票資格…実質的に、JPY#LCNEMを保有しているもの
      投票方法
      投票者は、被投票者のNEMアドレスに、1JPY#LCNEMを送信する。
      受信したJPY#LCNEMの量を、獲得票数とみなす。
      1アドレスから1円より多く受信した分のみ換算しない。
      受信したJPY#LCNEMの所有権は、各被投票者に帰属する。
      
      公開投票による助成内容
      助成金
      JPY#LCNEMとして支払われる。
      金額は1位に50000円、2位に30000円、3位に10000円
      
    </div>
  </div>
</app-body-container>