@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-sidenav-container.sidenav-container {
  height: 100%;
}

mat-sidenav.sidenav {
  overflow: auto;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

/* ------------ */

mat-progress-spinner {
  margin: 1em auto;
}

.mat-card {
  border-radius: 12px !important;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0 6px 16px 0 rgba(24, 52, 117, 0.2) !important;
}

.bold-heading {
  font-family: 'HelveticaNeue-CondensedBold';
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.product-name {
  font-size: 1.8em;
}
