mat-sidenav-content {
    background-image: url(../../assets/images/background.jpg);
    background-attachment: fixed;
}

h3 {
    text-align: center;
    font-size: 300%;
    color: white;
}

img {
    max-width: 100%;
}

.item {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin: 60px -16px;
}

.item > div {
    padding: 16px;
}