<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-toolbar class="background-contain" [ngStyle]="{'background-image': 'url(favicon.svg)'}">
        </mat-toolbar>
        <div fxLayout="column">
            <mat-form-field fxFlex="100">
                <mat-select placeholder="Language" value="en">
                    <mat-option value="en">English</mat-option>
                    <mat-option routerLink="/ja">日本語</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-nav-list>
                <a mat-list-item href="https://twitter.com/lcnem_en" target="_blank">
                    <mat-icon></mat-icon>
                    Twitter
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item href="https://docs.google.com/forms/d/e/1FAIpQLScrINdlZRveAP-PIGcoF1Vvhm2bQ8CW24s_YtcDNigvaqwl-A/viewform?usp=sf_link"
                    target="_blank">
                    <mat-icon>contacts</mat-icon>
                    Contact
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span>LCNEM</span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
        <div class="out-toolbar mat-typography">
            <div class="top">
                <h1>Beyond digital currencies.</h1>
                <p>Digital money on blockchain under regulations</p>
            </div>
            <div fxLayout="row wrap" class="item">
                <div fxFlex="50" fxFlex.xs="100">
                    <h2>What is LCNEM?</h2>
                    <p>
                        Crypto-currencies, of which transactions are managed in the blockchain, can be used with very reasonable fee compared to existing remittance systems, but they can't be used without price fluctuation risk.<br/>
                        LCNEM issue digital money of legal currencies, not crypto-currencies and manage transactions in the blockchain.<br />
                        Collateral assets are deposited to govornment, so risk of issueance without collateralizing are suppressed.<br />
                        We use NEM for blockchain.
                    </p>
                </div>
                <div fxFlex="50" fxFlex.xs="100">
                    <p style="text-align: center;">
                        <img class="main" src="assets/images/vector/lcnem-nem.svg" />
                    </p>
                </div>
            </div>
            <div fxLayout="row-reverse wrap" class="item">
                <div fxFlex="50" fxFlex.xs="100">
                    <h2>To create friendly economy</h2>
                    <p>
                        Transaction fee is very reasonable in comparison to existing systems, so it is suited for remittance and payment. <br />
                        In addition, it is also suited for present, tip, support, and so on.
                    </p>
                </div>
                <div fxFlex="50" fxFlex.xs="100">
                    <p style="text-align: center;">
                        <img class="main" src="assets/images/vector/lcnem-globe.svg" />
                    </p>
                </div>
            </div>
            <div fxLayout="row wrap" class="item">
                <div fxFlex="50" fxFlex.xs="100">
                    <h2>LCNEM Wallet</h2>
                    <p style="margin-bottom: 40px;">
                        This is a wallet of NEM blockchain which can be used with google account login.<br />
                        Your private keys are linked with the google account, so managing private key which is required in existing wallets, is not needed.
                    </p>
                    <p style="text-align: center;">
                        <a mat-button color="accent" href="https://wallet.lcnem.cc" target="_blank">Getting started</a>
                    </p>
                </div>
                <div fxFlex="50" fxFlex.xs="100">
                    <p style="text-align: center;">
                        <img src="assets/images/mockup.png" />
                    </p>
                </div>
            </div>
            <div class="item members bg-white">
                <h2>Members</h2>
                <ul class="membersListWrapper">
                    <li class="membersList">
                        <div class="imgBox">
                            <img src="assets/images/profile/yu.jpg" />
                        </div>
                        <p class="position">CEO</p>
                        <p class="name">Yu Kimura</p>
                        <div class="snsLinks">
                            <a target="_blank" href="https://twitter.com/YuKimura45z"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a target="_blank" href="https://www.facebook.com/YuKimura45z"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a target="_blank" href="https://github.com/YuKimura45z" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                        </div>
                    </li>
                    <li class="membersList">
                        <div class="imgBox">
                            <img src="assets/images/profile/takeru.jpg" />
                        </div>
                        <p class="position">Marketing,Translation</p>
                        <p class="name">Takeru</p>
                        <div class="snsLinks">
                            <span><i class="fab fa-twitter-square fa-2x disabled"></i></span>
                            <span><i class="fab fa-facebook-square fa-2x disabled"></i></span>
                            <a target="_blank" href="https://github.com/Takeruakira"><i class="fab fa-github-square fa-2x"></i></a>
                        </div>
                    </li>
                    <li class="membersList">
                        <div class="imgBox">
                            <img src="assets/images/profile/kurata.jpg" />
                        </div>
                        <p class="position">Marketing,Development</p>
                        <p class="name">Ryusei Kurata</p>
                        <div class="snsLinks">
                            <a target="_blank" href="https://twitter.com/amnosmusic13"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100018072949254"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a target="_blank" href="https://github.com/ryuseikurata"><i class="fab fa-github-square fa-2x"></i></a>
                        </div>
                    </li>
                    <li class="membersList">
                        <div class="imgBox">
                            <img src="assets/images/profile/ryotaro.jpg" />
                        </div>
                        <p class="position">Marketing,Development</p>
                        <p class="name">Ryotaro Miyagawa</p>
                        <div class="snsLinks">
                            <a target="_blank" href="https://twitter.com/pareriva_d_taro?lang=ja"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100015198604331"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a target="_blank" href="https://github.com/Dragon-taro"><i class="fab fa-github-square fa-2x"></i></a>
                        </div>
                    </li>
                    <li class="membersList">
                        <div class="imgBox">
                            <img src="assets/images/profile/ryoma.jpg" />
                        </div>
                        <p class="position">Marketing</p>
                        <p class="name">Ryoma Ogawa</p>
                        <div class="snsLinks">
                            <a target="_blank" href="https://twitter.com/dragonhorser?lang=ja"><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100018072949254"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a target="_blank" href="https://github.com/ryoma0110"><i class="fab fa-github-square fa-2x"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>