img {
  max-width: 100%;
}

h1 {
  display: block;
  text-align: center;
  font-size: 200%;
  line-height: 1.2em;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-bottom: 60px;
}
h2:before,
h2:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
h2:before {
  margin-right: 1em;
}
h2::after {
  margin-left: 1em;
}

.content {
  padding: 90px 0;
}

.content.bg-gray {
  background-color: #f6f6f6;
}

.img-box.small {
  padding: 0 60px;
}

section h4 {
  font-size: 1.5em;
}
section > div p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
section > div > div {
  padding: 16px;
}
section .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav mat-nav-list mat-icon {
  color: gray;
}
.mat-list-icon {
  margin-right: 1em;
}
.open-in-new {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.media {
  overflow: auto;
}

.media img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

.media p {
  text-align: center;
  font-size: 150%;
}

.link {
  color: #0142be;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
}

.link:hover {
  opacity: 0.8;
}

.link mat-icon {
  display: inline-block;
  background-color: #0142be;
  border-radius: 50%;
  color: #fff;
  position: relative;
  top: -0.1em;
  width: 14px;
  height: 14px;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 3px;
}
