@use '~@angular/material' as mat;

section {
  padding-top: 32px;
  padding-bottom: 32px;

  &.black {
    color: white;
    background: #222222;
  }

  &.mat-purple {
    color: white;
    background: mat.get-color-from-palette(mat.define-palette(mat.$purple-palette, 700, 500, 800));
  }

  &.mat-orange {
    color: white;
    background: mat.get-color-from-palette(mat.define-palette(mat.$orange-palette));
  }

  &.mat-gray {
    color: white;
    background: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette));
  }

  &.mat-blue {
    color: white;
    background: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette));
  }

  &.mat-pink {
    color: white;
    background: mat.get-color-from-palette(mat.define-palette(mat.$pink-palette));
  }
}
