<app-section>
  <h2 class="bold-heading">SERVICES</h2>
  <div fxLayout="row wrap" fxLayout.xs="column">
    <a fxFlex="50" routerLink="services/system-integration">
      <div
        matRipple
        fxLayout="row"
        fxLayout.xs="row wrap"
        fxLayoutAlign="initial center"
      >
        <div>
          <img
            class="service-image"
            src="assets/images/luster/development.jpg"
          />
        </div>
        <div>
          <p>システム設計・開発サービス</p>
        </div>
      </div>
    </a>
    <a fxFlex="50" routerLink="services/blockchain-subscription">
      <div
        matRipple
        fxLayout="row"
        fxLayout.xs="row wrap"
        fxLayoutAlign="initial center"
      >
        <div>
          <img
            class="service-image"
            src="assets/images/luster/subscription.jpg"
          />
        </div>
        <div>
          <p>サブスクリプション型<br />ブロックチェーン開発サービス</p>
        </div>
      </div>
    </a>
    <a fxFlex="50" routerLink="services/minimum-viable-product">
      <div
        matRipple
        fxLayout="row"
        fxLayout.xs="row wrap"
        fxLayoutAlign="initial center"
      >
        <div>
          <img
            class="service-image"
            src="assets/images/luster/consulting.jpg"
          />
        </div>
        <div>
          <p>MVP設計コンサルティング<br />・開発サービス</p>
        </div>
      </div>
    </a>
    <a fxFlex="50" routerLink="services/firebase-migration">
      <div
        matRipple
        fxLayout="row"
        fxLayout.xs="row wrap"
        fxLayoutAlign="initial center"
      >
        <div>
          <img class="service-image" src="assets/images/luster/migration.jpg" />
        </div>
        <div>
          <p>Firebase移行/DB設計サービス</p>
        </div>
      </div>
    </a>
  </div>
</app-section>
