.open-in-new {
    font-size: 16px;
    line-height: 24px;
    color: #888;
    margin-left: 3px;
}

.lang {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.logo.icon {
    vertical-align: middle;
}

mat-icon {
    border-radius: 0% !important;
    margin-right: 5px;
}