<app-section [color]="'mat-gray'">
  <h2 [ngSwitch]="''">
    <ng-container *ngSwitchDefault>システム設計・開発サービス</ng-container>
  </h2>
  <p>
    当社のブロックチェーン技術や論理的思考力に基づく設計力を活かしたシステム設計・開発を承っております。
    <br />
    また、ブロックチェーン分野に限らず、当社では各種アプリケーションのシステム開発をはじめ、
    <br />
    インフラ構築やシステムの運用保守、WEBサイトの構築まで、幅広い開発プロジェクトに最新技術を用いて対応しております。
  </p>
  <button mat-raised-button routerLink="/company/contact">
    お問い合わせはこちら
  </button>
</app-section>
<app-section>
  <h2>実績一覧</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="initial center">
    <ng-container *ngFor="
        let e of [
          [
            'https://www.proximax.io/',
            'ProximaX',
            'assets/images/partners/proximax.jpg'
          ],
          [
            'https://www.polipoli.work/',
            'PoliPoli',
            'assets/images/partners/polipoli.svg'
          ]
        ]
      ">
      <div>
        <div matRipple>
          <a href="{{ e[0] }}" target="_blank">
            <img class="partner-image" alt="{{ e[1] }}" src="{{ e[2] }}" />
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</app-section>