<app-section>
  <h2 class="bold-heading">
    PRESS KIT
  </h2>
  <div fxLayout="row" fxLayoutGap="16px grid" fxLayoutAlign="initial end">
    <div fxFlex="50">
      <mat-card>
        <img mat-card-image src="assets/images/lcnem.svg" />
        <mat-card-actions fxLayout="row">
          <a
            mat-button
            fxFlex="50"
            download
            href="assets/images/lcnem.svg"
            color="accent"
          >
            <mat-icon>save_alt</mat-icon>
            <span>SVG</span>
          </a>
          <a mat-button fxFlex="50" download href="favicon.png" color="accent">
            <mat-icon>save_alt</mat-icon>
            <span>PNG</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <img mat-card-image src="assets/images/logo_below.svg" />
        <mat-card-actions>
          <a
            mat-button
            fxFill
            download
            href="assets/images/logo_below.svg"
            color="accent"
          >
            <mat-icon>save_alt</mat-icon>
            <span>SVG</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <img mat-card-image src="assets/images/logo_right.svg" />
        <mat-card-actions>
          <a
            mat-button
            fxFill
            download
            href="assets/images/logo_right.svg"
            color="accent"
          >
            <mat-icon>save_alt</mat-icon>
            <span>SVG</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-section>
