<app-section>
  <h2 class="bold-heading">
    TECHNOLOIES
  </h2>
  <div fxLayout="row-reverse" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxFlex="50">
      <img style="width: 85%;" src="assets/images/luster/memory.svg" />
    </div>
    <div fxFlex="50" fxFlexOffset="10">
      <h3 class="product-name">ブロックチェーン</h3>
      <p class="catchphrase">
        ブロックチェーン技術により、<br />●情報の改竄耐性<br />●高可用性<br />●複数の企業間で改竄不可なデータの共有<br />を実現できます。<br /><br />
        また、Cosmos技術を基盤とした弊社の技術により、<br />●情報の秘匿化<br />●ニーズに合わせた独自ブロックチェーン<br />●ブロックチェーン間のトークンの交換<br />を実現します。
      </p>
    </div>
  </div>
  <div fxLayout="row-reverse" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxFlex="50">
      <img style="width: 82%;" src="assets/images/luster/software.svg" />
    </div>
    <div fxFlex="50" fxFlexOffset="10">
      <h3 class="product-name">機械学習</h3>
      <p class="catchphrase">機械学習により、xxxxxxxxxxxxxxxxxxx<br />yyyyyyyyyy<br />yyyyyyyyyyy<br />zzzzzzzzzzzz</p>
    </div>
  </div>
</app-section>