<app-section>
  <h2 class="bold-heading">
    TECHNOLOGIES
  </h2>
  <div fxLayout="row-reverse" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxFlex="50">
      <img style="width: 85%;" src="assets/images/luster/memory.svg" />
    </div>
    <div fxFlex="50" fxFlexOffset="10">
      <h3 class="product-name">ブロックチェーン</h3>
      <p class="catchphrase">
        ブロックチェーンは、<br />ネットワークに接続した複数のコンピュータ間でデータを共有することで、<br />データの耐改ざん性・透明性を実現し、単に送金システムであるにとどまらず、<br />さまざまな経済活動のプラットフォームとなり得ます。<br /><br /><br />
        Cosmos技術を基盤とした弊社の最先端技術により提供可能な価値<br /><br />●ブロックチェーン上の情報の秘匿化<br />●ニーズに合わせた独自ブロックチェーンの柔軟な構築<br />●独自ブロックチェーン上でのトークン発行<br />●ブロックチェーン間のトークンの交換<br />●複数企業間での改竄不可なデータ共有<br /><br /><br />
      </p>
    </div>
  </div>
  <div fxLayout="row-reverse" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxFlex="50">
      <img style="width: 82%;" src="assets/images/luster/software.svg" />
    </div>
    <div fxFlex="50" fxFlexOffset="10">
      <h3 class="product-name">AI・機械学習</h3>
      <p class="catchphrase">
        現在、DX（デジタルトランスフォーメーション）に注目が集まってきており、<br />AIや機械学習などの技術発展を背景に、<br />デジタル技術の利活用が企業にとって事業拡大の鍵となってきております。<br /><br />
        弊社は最新のAI/機械学習に関する論文からの技術実装のR＆Dを進めており、<br />既存のディーブラーニング技術よりも遥かに計算量の少ない技術を開発し、<br />日々クライアント様と議論を重ね社会実装を行っております。<br /><br />●クラウドによるデータパイプライン構築<br />●ガウス過程やディリクレ過程などノンパラメトリックベイズの最先端の知識<br />●現場に必要なドメイン知識へ寄り添い、本当に必要で使えるモデルを作る
      </p>
    </div>
  </div>
</app-section>