.layout {
  display: flex;
  width: 1000px;
  object-fit: cover;
  white-space: nowrap;
  padding-left: 600px;
}

.message {
  font-family: HelveticaNeue-CondensedBold;
}

.logo {
  position: absolute;
  left: 50px;
  width: 500px;
  object-fit: cover;
  padding: 50px;
}
