<app-section>
  <h1><b>ABOUT</b></h1>
  <br />
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <div fxFlex="55" fxFlex.xs="100">
      <img mat-card-image src="assets/images/lcnem.svg" />
    </div>
    <div>
      <h2><b>We are LCNEM</b></h2>
      <h3><b>Our Mission is to Enhance Economic Welfare</b></h3>
      <h3><b>The step is to spread some mechanism designs</b></h3>
      <h3><b>depend on appropriate incentives,</b></h3>
      <h3><b>and to make the Narrow-bank using the distributed</b></h3>
      <h3><b>ledger technology into a reality</b></h3>
      <br />
      <br />
      <br />
      <h2><b>LCNEM</b></h2>
      <ul>
        <li><b>latest,legal</b></li>
        <li><b>cryptographic,currency</b></li>
        <li><b>narrow-bank</b></li>
        <li><b>short-form of them</b></li>
      </ul>
    </div>
  </div>
</app-section>
