<app-section>
  <span id="about"></span>
  <h1 class="message"><b>ABOUT</b></h1>
  <br />
  <div class="layout">
    <img class="logo" mat-card-image src="assets/images/logo.jpg" />
    <div>
      <h2 class="message"><b>We are LCNEM</b></h2>
      <h3 class="message"><b>Our Mission is to Enhance Economic Welfare</b></h3>
      <h3 class="message">
        <b>The step is to spread some mechanism designs</b>
      </h3>
      <h3 class="message"><b>depend on appropriate incentives,</b></h3>
      <h3 class="message">
        <b>and to make the Narrow-bank using the distributed</b>
      </h3>
      <h3 class="message"><b>ledger technology into a reality</b></h3>
      <br />
      <br />
      <br />
      <h2 class="message"><b>LCNEM</b></h2>
      <ul>
        <li class="message"><b>latest,legal</b></li>
        <li class="message"><b>cryptographic,currency</b></li>
        <li class="message"><b>narrow-bank</b></li>
        <li class="message"><b>short-form of them</b></li>
      </ul>
    </div>
  </div>
</app-section>
