<app-section>
  <h2 class="bold-heading">
    COMPANY
  </h2>
  <img fxFill src="assets/images/logo_right.svg" />
  <div>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>会社名</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>株式会社LCNEM</ng-container>
      </dd>
    </dl>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>本社所在地</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>
          京都市上京区油小路中立売下る甲斐守町97番地西陣産業創造會舘2階
        </ng-container>
      </dd>
    </dl>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>資本金等</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>9,050,000円</ng-container>
      </dd>
    </dl>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>設立</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>2018年3月</ng-container>
      </dd>
    </dl>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>会計期間</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>1月〜12月</ng-container>
      </dd>
    </dl>
    <dl>
      <dt [ngSwitch]="''">
        <ng-container *ngSwitchDefault>代表取締役</ng-container>
      </dt>
      <dd [ngSwitch]="''">
        <ng-container *ngSwitchDefault>木村優</ng-container>
      </dd>
    </dl>
  </div>
</app-section>
