button {
  font-size: 1em;
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 20px;
}

a:hover {
  color: black;
  opacity: 0.8;
}

a:link {
  color: orange;
  opacity: 0.8;
}

a:visited {
  color: blue;
  opacity: 0.8;
}

.layout {
  border-bottom: solid 3px orange;
  color: gray;
  padding: 5px;
}

.message {
  font-family: HelveticaNeue-CondensedBold;
  color: gray;
}

.center {
  color: white;
  text-align: center;
}
