<app-section [color]="'mat-primary'">
  <h1><b>NEWS</b></h1>
  <br />
  <div class="layout">
    <h2>株式会社電縁様とパートナーシップ締結のお知らせ</h2>
    <h5>2019年10月21日</h5>
    <button>
      <a href="https://www.denen.com/news/20191021-alliance-lcnem/">
        詳細
      </a>
    </button>
  </div>
  <br />
  <br />
  <div class="layout">
    <h2>株式会社EtherSecurity様とのパートナーシップ締結のお知らせ</h2>
    <h5>2019年5月13日</h5>
    <button>
      <a href="https://inside.lcnem.com/2019/05/13/ethersecurity-partnership/">
        詳細
      </a>
    </button>
  </div>
  <br />
  <br />
  <div class="layout">
    <h2>
      LCNEM、ブロックチェーン上の新型電子マネー（いわゆるステーブルコイン）の新サービスを発表
    </h2>
    <h5>
      2019年4月17日
    </h5>
    <button>
      <a href="https://inside.lcnem.com/2019/04/17/post-151/">
        詳細
      </a>
    </button>
  </div>
  <br />
  <br />
  <div class="layout">
    <h2>
      LCNEM Insideがはじまります
    </h2>
    <h5>
      2019年3月25日
    </h5>
    <button>
      <a href="https://inside.lcnem.com/2019/04/17/post-151/">
        詳細
      </a>
    </button>
  </div>
</app-section>
