<app-header [image]="'assets/images/tokyo.jpg'"> </app-header>
<app-about></app-about>
<app-product></app-product>
<app-section>
  <h2>サービス</h2>
  <div class="service" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <img mat-card-image src="assets/images/development.jpg" />
        <mat-card-content>
          <h3>Blockchain Subscription</h3>
          <p>サブスクリプション型のブロックチェーン開発サービス</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            fxFill
            class="mat-flat-button"
            [color]="'primary'"
            [routerLink]="'services/blockchain-subscription'"
          >
            詳しく見る
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="assets/images/consulting.jpg" />
        <mat-card-content>
          <h3>Minimum Viable Product</h3>
          <p>MVP開発設計参加&コンサルティングサービス</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            fxFill
            class="mat-flat-button"
            [color]="'primary'"
            [routerLink]="'services/minimum-viable-product'"
          >
            詳しく見る
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="assets/images/development.jpg" />
        <mat-card-content
          ><h3>System IntegrationMinimum Viable Product</h3>
          <p>システム開発受託</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            fxFill
            class="mat-flat-button"
            [color]="'primary'"
            [routerLink]="'services/minimum-viable-product'"
          >
            詳しく見る
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-section>

<app-section>
  <h2>パートナーの皆様</h2>
  <div class="service" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <img mat-card-image src="assets/images/partners/etherinc_bnr.png" />
        <mat-card-content>
          <p>各種ブロックチェーンノード運用、lcnemintのバリデーション</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-button
            fxFill
            class="mat-radius-button"
            href="http://etherinc.co/"
            target="_blank"
            [color]="'primary'"
            >Ether Security<mat-icon>open_in_new</mat-icon></a
          >
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="assets/images/partners/ub.png" />
        <mat-card-content>
          <p>lcnemintのバリデーション、Lightning</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-button
            fxFill
            class="mat-radius-button"
            href="http://www.unitedbitcoiners.com/"
            target="_blank"
            [color]="'primary'"
            >United Bitcoiners<mat-icon>open_in_new</mat-icon></a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-section>

<app-footer></app-footer>
