img {
    max-width: 100%;
}

h1 {
  display: block;
  text-align: center;
  font-size: 200%;
  line-height: 1.2em;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin: 1em;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h3:before,
h3:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
h3:before {
  margin-right: 1em;
}
h3::after {
  margin-left: 1em;
}

section > div {
  margin: -16px;
  padding: 16px;
}
section h4 {
  font-size: 1.5em;
}
section > div p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
section > div > div {
  padding: 16px;
}
section .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav mat-nav-list mat-icon {
  color: gray;
}
.mat-list-icon {
  margin-right: 1em;
}
.open-in-new {
  font-size: 12px;
  width: 12px;
  height: 12px;
}
