
h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 70px;
    &::after {
        display: block;
        content: "";
        width: 50px;
        margin: 0 auto;
        background-color: blue;
        height: 5px;
        margin-top: 15px;
    }
}
p { 
    font-size: 16px;
    line-height: 1.8;
}

img {
    max-width: 100%;
    // &.main {
    //     position: absolute;
    //     width: 60%;
    //     right: -5%;
    //     top: 50vh;
    // }
}

.item {
    margin: -16px;
    padding: 90px 16px;
    .contentWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &.top {
        text-align: center;
        font-weight: bold;
        position: relative;
        height: 100vh;
        padding-top: 0;
        h1 {
            font-size: 300%;
            padding: 0 16px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
            margin-top: 40px;
            padding: 0 30px;
        }
        .imgWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 130%;
                max-width: 130%;
                margin-left: -15px;
            }
        }
    }
    
}

.item > div {
    padding: 16px;
}

.members {
    h2 {
        margin-top: 0;
    }
    .membersListWrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-around;
        max-width: 900px;
        margin: 0 auto;
        .membersList {
            list-style: none;
            margin: 30px 10px;
            text-align: center;
            &.dammy {
                width: 140px;
                margin: 0 10px;
            }
            .imgBox {
                width: 140px;
                height: 140px;
                margin: 0 auto;
                border-radius: 50%;
                overflow: hidden;
                img {
                    transition-duration: .3s;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .position{
                margin: 10px 0 0 0;
            }
            .name {
                font-size: 18px;
                margin-bottom: 0 0 10px 0;
            }
            .snsLinks {
                display: inline-flex;
                width: 75px;
                justify-content: space-between;
                i {
                    color: #333;
                    &.fa-2x {
                        font-size: 1.5em
                    }
                    &.disabled {
                        color: #aaa;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .item {
        padding: 45px 16px;
        &.top {
            text-align: center;
            h1 {
                margin-top: 50px;
                font-size: 300%;
                padding: 0 16px;
                line-height: 1.2;
            }
            p {
                font-size: 16px;
                padding: 0 15px;
            }
            .imgWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                    margin: 0;
                    padding: 0;
                    img {
                        width: 100% !important;
                        max-width: 100% !important;
                        margin: -30px 0;
                    }
                }
            }
        }
    }
}

.roadmap {
    ul {
        list-style: none;
        li {
            h3 {
                position: relative;
                font-size: 300%;
                line-height: 2em;
                padding-left: 2em;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0%;
                    top: 50%;
                    transform:translateY(-50%);
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                }

                &.completed::before {
                    background: #2e3192;
                }

                &.now::before {
                    background: #0071bc;
                    animation: 1s linear infinite blink_effect;
                }

                &.future::before {
                    background: #29abe2;
                }
            }
        }
    }
}
@keyframes blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}