<app-header [heading]="'株式会社LCNEM'" [image]="'assets/images/lcnem.svg'">
  <p>経済厚生のためのフィンテック</p>
</app-header>

<app-section [color]="'mat-primary'">
  <h2>理念</h2>
  <p>経済厚生を高めることこそがLCNEMのミッションです。</p>
  <p>
    手段は、インセンティブによるメカニズムデザインの考え方を広めること。
  </p>
  <p>そして、分散型台帳技術を使ったナローバンクを実現することです。</p>

  <ul>
    <li>latest,legal</li>
    <li>cryptographic,currency</li>
    <li>narrow-bank</li>
    <li>short-form of them</li>
  </ul>
</app-section>

<app-section>
  <h2>サービス</h2>
  <div class="service" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div *ngFor="let s of services" [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <img mat-card-image src="{{ s.image }}" />
        <mat-card-content>
          <h3>{{ s.name }}</h3>
          <p>{{ s.copy }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            fxFill
            class="mat-flat-button"
            [color]="'primary'"
            [routerLink]="s.link"
          >
            詳しく見る
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-section>

<app-section>
  <h2>パートナーの皆様</h2>
  <div class="service" [fxLayout]="'row wrap'" [fxLayoutGap]="'16px grid'">
    <div *ngFor="let p of partners" [fxFlex]="50" [fxFlex.xs]="100">
      <mat-card>
        <img mat-card-image src="{{ p.image }}" />
        <mat-card-content>
          <p>{{ p.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-button
            fxFill
            class="mat-radius-button"
            href="{{ p.link }}"
            target="_blank"
            [color]="'primary'"
            >{{ p.name }}<mat-icon>open_in_new</mat-icon></a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-section>

<app-footer></app-footer>
