
img {
    max-width: 100%;
}

.top {
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        display: block;
        text-align: center;
        font-size: 300%;
        line-height: 1em;
    }

    p {
        text-align: center;
        line-height: 1.5em;
    }
}

.item {
    margin: -16px;
    padding: 90px 16px;

    
    h2 {
        text-align: center;
        font-size: 38px;
        margin-bottom: 70px;
        &::after {
            display: block;
            content: "";
            width: 50px;
            margin: 0 auto;
            background-color: blue;
            height: 5px;
            margin-top: 15px;
        }
    }
    p { 
        font-size: 16px;
        line-height: 1.8;
    }

    > div {
        padding: 16px;

        &:first-child {
            &.delighter {
                transition: all .3s ease-out;
                transform: translateX(100%);
                opacity: 0;
        
                &.started {
                    transform: none;
                    opacity: 1;   
                }
            }
        }

        &:last-child {
            &.delighter {
                transition: all .3s ease-out;
                transform: translateX(-100%);
                opacity: 0;
        
                &.started {
                    transform: none;
                    opacity: 1;   
                }
            }
        }
    }
}

mat-vertical-stepper {
    background: transparent;
}