<app-body-container headerPosition="normal">
  <div class="inner-wrapper">
    <div class="body-container">
      lcnemintは、LCNEM Cheque用のCosmos networkに接続できる、LCNEM独自のブロックチェーンです。
      LCNEM Chequeのやりとりのための高速なブロックチェーンとして使うことはもちろん、
      LCNEM ChequeのトークンIBC通信により、Cosmosネットワーク内の他のブロックチェーンでも使用できるようになります。

      GitHubはこちら
      https://github.com/lcnem/lcnemint

      IBC
      Inter Blockchain Communication。Cosmos Hubというブロックチェーンを中心にIBC通信することで、トークンを違うブロックチェーンに送ることができる。
      IBC通信のネットワークをCosmos networkと呼びます。

      lcnemintのバリデータはコンソーシアム制（＝許可制）です。バリデータになっていただける法人を募集中です。

      スペック
      バリデータ　コンソーシアム
      コンセンサスアルゴリズム　Tendermint BFT
      ブロック承認 確定的
      1ブロックあたりの時間 10秒
    </div>
  </div>
</app-body-container>