<app-section [color]="'mat-blue'">
  <h2 [ngSwitch]="''">
    <ng-container *ngSwitchDefault>サブスクリプション型ブロックチェーン開発サービス
    </ng-container>
  </h2>
  <p>
    ブロックチェーンを利用するだけではなく、ブロックチェーンそのものを作れる時代。
    <br />
    ブロックチェーンを活かしたシステムを実証・開発・運用するにあたって、大きな問題があります。
    <br />
    それは「既存のブロックチェーンを利用した結果、その機能が利用者のニーズを満たしきれないこと」です。
    <br />
    <br />
    しかしながら、CosmosSDKを利用すれば、理想のブロックチェーンを自由に作る事が出来ます。
    <br />
    月額制の料金で、弊社がブロックチェーンそのものの開発を行います。
    <br />
    CosmosSDKの経験から、弊社は低コストでスピーディーに開発を行います。
    <br />
    <br />
    ブロックチェーンの実証実験に4000万円を積む時代は過ぎ去りました。
    <br />
    LCNEMならば、低コストなサブスクリプション型でブロックチェーンの導入を実験できます。
  </p>
  <button mat-raised-button routerLink="/company/contact">
    お問い合わせはこちら
  </button>
</app-section>
<app-section>
  <h2 [ngSwitch]="''">
    <ng-container *ngSwitchDefault>費用</ng-container>
  </h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-around start">
    <div fxFlex="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title>初回相談</mat-card-title>
          <mat-card-subtitle>無料</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            初回相談は無料。
            ビデオ通話にて工数見積もりをさせていただきます。要望いただく仕様は厳密でなくて構いません。
            ビデオ通話のURLをお送りしますので、何もインストールして頂く必要はありません。
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title>開発・保守</mat-card-title>
          <mat-card-subtitle>月額80万円</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            月額80万円定額で、貴社の理想の独自ブロックチェーンを開発・保守します。
            開発にはCosmosSDKを用います。
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title>運用</mat-card-title>
          <mat-card-subtitle>月額8万円×ノード数</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            月額8万円×ノード数定額で、
            CosmosSDKを用いてつくられた貴社の独自のブロックチェーンを運用します。
            開発・保守とは別料金となります。
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title>追加のご要望</mat-card-title>
          <mat-card-subtitle>
            要相談
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <a routerLink="/services/system-integration">システム設計・開発サービス</a>での承りとさせていただきます。 費用は見積もりの上要相談となります。
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br />
  <iframe [src]="safeSite" class="mat-elevation-z2"></iframe>
</app-section>