<div>
  <mat-card>
    <img mat-card-image src="assets/images/lcnem.svg" />
    <mat-card-actions>
      <div>
        <a
          mat-stroked-button
          fxFill
          download
          href="assets/images/lcnem.svg"
          color="accent"
        >
          <mat-icon>save_alt</mat-icon>
          <span>SVG</span>
        </a>
      </div>
      <div>
        <a mat-stroked-button fxFill download href="favicon.png" color="accent">
          <mat-icon>save_alt</mat-icon>
          <span>PNG</span>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
