<p>LCNEM Cheque JPYを広く利用していただくべく、助成金プログラムを運営しております。</p>
<div class="table header-left">
  <h4 class="tag">社内通貨検討助成金</h4>
  <table>
    <tbody>
      <tr>
        <th>応募方法</th>
        <td>問い合わせフォーム</td>
      </tr>
      <tr>
        <th>応募資格</th>
        <td>LCNEM Cheque JPYを社内通貨として利用することを検討していること。</td>
      </tr>
      <tr>
        <th>助成内容</th>
        <td>
          <ol>
            <li>アマゾンギフト券との交換の手数料を無償化（期限付き）</li>
            <li>30000円分のLCNEM Cheque JPYを貸与。社内通貨として採用されることが内定した場合、貸与した分を譲渡する。</li>
          </ol>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table header-left">
  <h4 class="tag">アプリケーション開発助成金</h4>
  <table>
    <tbody>
      <tr>
        <th>応募方法</th>
        <td>問い合わせフォーム</td>
      </tr>
      <tr>
        <th>応募資格</th>
        <td>
          <p>以下すべてを満たしていると判断されるサービス</p>
          <ol>
            <li>LCNEM Cheque JPYをtip等としての譲渡を仲介する、もしくは売買を仲介する機能を含んでいるアプリケーションを開発していること。</li>
            <li>現在は自家型前払式支払手段である。LCNEM Cheque JPYに関して正しく法律に則っていること。</li>
            <li>反社会的勢力との関連がないこと。</li>
            <li>HYIP・MLMのプロジェクトではないこと。</li>
          </ol>
        </td>
      </tr>
      <tr>
        <th>助成内容</th>
        <td>審査により、1000～100000円分のLCNEM Cheque JPYを給付。</td>
      </tr>
    </tbody>
  </table>
</div>
