<app-section [color]="'mat-primary'">
  <mat-icon style="font-size: 48px;" [inline]="true">info</mat-icon>
  <ng-container *ngIf="lang === 'en'">
    <h3>What is LCNEM Cheque</h3>
    <p>LCNEM Cheque is the brand new programmable electronic money issued on our blockchains. It plays a role as
      so-called "Stable Coin". </p>
    <p>Programmable, it means you can take advantage of our coin as freely programmable electronic money.</p>
  </ng-container>
  <ng-container *ngIf="lang === 'ja'">
    <h3>LCNEM Chequeとは</h3>
    <p>LCNEM Chequeは、ブロックチェーン上の新型プログラマブル電子マネーです。ブロックチェーンにおけるいわゆる「ステーブルコイン」としての役割を果たします。</p>
    <p>プログラマブル、つまり自由にプログラムできる電子マネーとして活用することができます。</p>
  </ng-container>
</app-section>
<app-section>
  <div [fxLayout]="'row'" fxFill>
    <h3>{{translation.gettingStarted[lang]}}</h3>
    <span class="fill-remaining-space"></span>
    <div>
      <a mat-flat-button class="mat-radius-button" href="https://cheque.lcnem.com/" target="_blank"
        [color]="'accent'">{{translation.gettingStarted[lang]}}</a>
    </div>
  </div>
</app-section>
<app-section>
  <div [fxLayout]="'row'" fxFill>
    <h3>{{translation.contact[lang]}}</h3>
    <span class="fill-remaining-space"></span>
    <div>
      <a mat-flat-button class="mat-radius-button" [color]="'accent'"
        [routerLink]="'/company/contact'">{{translation.contact[lang]}}</a>
    </div>
  </div>
</app-section>