<app-section>
  <h1><b>SERVICE</b></h1>
  <br />
  <div class="layout">
    <img class="main" mat-card-image src="assets/images/LCNEM_Service.jpg" />
  </div>
  <br />
  <div class="layout">
    <div>
      <div class="title">
        <img
          class="services"
          mat-card-image
          src="assets/images/subscription.jpg"
        />
        <h2 class="comment">
          <a routerLink="services/blockchain-subscription">
            サブスクリプション型のブロックチェーン開発サービス
          </a>
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img
          class="services"
          mat-card-image
          src="assets/images/consulting.jpg"
        />
        <h2 class="comment">
          <a routerLink="services/minimum-viable-product"
            >MVP開発設計参加&コンサルティングサービス</a
          >
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img
          class="services"
          mat-card-image
          src="assets/images/development.jpg"
        />
        <h2 class="comment">
          <a routerLink="services/system-integration">
            システム開発受託
          </a>
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img
          class="services"
          mat-card-image
          src="assets/images/migration.jpg"
        />
        <h2 class="comment">
          <a routerLink="services/firebase-migration">
            Firebase移行サービス
          </a>
        </h2>
      </div>
    </div>
  </div>
</app-section>
